<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vns.dao.ReportUserMapper">
    <resultMap id="BaseResultMap" type="com.vns.vo.ReportUser">
        <id column="ID" property="id" jdbcType="BIGINT"/>
       	<result column="UserTotal" property="userTotal" jdbcType="INTEGER"/>
       	<result column="TokenUserTotal" property="tokenUserTotal" jdbcType="INTEGER"/>
        <result column="NewUserNum" property="newUserNum" jdbcType="INTEGER"/>
        <result column="NewTokenUserNum" property="newTokenUserNum" jdbcType="INTEGER"/>
        <result column="CreateDate" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getReportByTime" resultMap="BaseResultMap">
        select ID,
	        UserTotal,
	        TokenUserTotal,
	        NewUserNum,
	        NewTokenUserNum,
	        CreateDate
        from t_report_users
        where DATE_FORMAT(CreateDate,'%y-%m-%d') &gt;= DATE_FORMAT(#{beginDate,jdbcType=DATE},'%y-%m-%d') 
        	and DATE_FORMAT(CreateDate,'%y-%m-%d') &lt;= DATE_FORMAT(#{endDate,jdbcType=DATE},'%y-%m-%d')
        order by CreateDate asc
    </select>
    
    <select id="getReportAllData" resultMap="BaseResultMap">
        select ID,
	        UserTotal,
	        TokenUserTotal,
	        NewUserNum,
	        NewTokenUserNum,
	        CreateDate
        from t_report_users
        order by CreateDate asc
    </select>
    
    <select id="statYesterdayUserData" resultMap="BaseResultMap">
    	select 
    	(select count(u.ID) from t_users u where DATE_FORMAT(u.CreateTime,'%y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{endDate,jdbcType=TIMESTAMP},'%y-%m-%d %H:%i:%S')) as UserTotal,
    	(select count(tu.ID) from t_token_users tu where DATE_FORMAT(tu.CreateTime,'%y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{endDate,jdbcType=TIMESTAMP},'%y-%m-%d %H:%i:%S')) as TokenUserTotal,
    	(select count(u.ID) from t_users u where u.CreateTime between #{beginDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}) as NewUserNum,
    	(select count(u.ID) from t_token_users u where u.CreateTime between #{beginDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}) as NewTokenUserNum
    </select>
    
    <select id="isExist" resultType="int">
        select count(ID) from t_report_users where DATE_FORMAT(CreateDate,'%y-%m-%d') = DATE_FORMAT(#{createDate,jdbcType=DATE},'%y-%m-%d')
    </select>
    
    <insert id="insert">
    	insert into t_report_users
    	(
    		UserTotal,
    		TokenUserTotal,
	        NewUserNum,
	        NewTokenUserNum,
	        CreateDate
    	)values(
    		#{userTotal},
    		#{tokenUserTotal},
    		#{newUserNum},
    		#{newTokenUserNum},
    		#{createDate}
    	)
    </insert>
    
    <update id="update">
    	update t_report_users set 
    		UserTotal=#{userTotal},
    		TokenUserTotal=#{tokenUserTotal},
    		NewUserNum=#{newUserNum},
    		NewTokenUserNum=#{newTokenUserNum}
    	where DATE_FORMAT(CreateDate,'%y-%m-%d') = DATE_FORMAT(#{createDate,jdbcType=DATE},'%y-%m-%d')
    </update>
</mapper>